/* Lab 2 - CSS Selectors and Document Structure */

/* ID selectors */
#p1 {
    color: white;
    background-color: red;
    padding: 5px;
  }
  
  #p2 {
    color: black;
    background-color: yellow;
    padding: 5px;
  }
  
  /* Class selectors */
  .p3 {
    color: blue;
    background-color: yellow;
    padding: 5px;
  }
  
  .heading {
    color: blue;
    background-color: yellow;
    padding: 5px;
  }
  
  /* Structure selectors */
  #div1 {
    color: white;
    background-color: red;
    padding: 10px;
    margin-top: 10px;
  }
  
  #div1 .smallspan {
    color: blue;
    background-color: yellow;
    padding: 3px;
  }
  
  /* =========================
   Foreground & Background Colors
   Rubrics 7–12
========================= */

.blue-on-white {
    color: blue;
    background-color: white;
  }
  
  .red-on-white {
    color: red;
    background-color: white;
  }
  
  .green-on-white {
    color: green;
    background-color: white;
  }
  
  .white-on-blue {
    color: white;
    background-color: blue;
  }
  
  .black-on-red {
    color: black;
    background-color: red;
  }
  
  .white-on-green {
    color: white;
    background-color: green;
    padding: 3px;
  }
  

/* =========================
   Borders, Padding, Margins
   Rubrics 13–21
========================= */

.fat-red-border {
    border: 5px solid red;
    padding: 8px;
    margin: 5px;
  }
  
  .thin-blue-dashed {
    border: 2px dashed blue;
    padding: 8px;
    margin: 5px;
  }
  
  .red-fat-padding {
    border: 5px solid red;
    background-color: yellow;
    padding-top: 30px;
    padding-left: 30px;
    margin: 10px 0;
  }
  
  .blue-fat-padding {
    border: 5px solid blue;
    background-color: yellow;
    padding-bottom: 30px;
    margin: 10px 0;
  }
  
  .yellow-fat-padding {
    border: 5px solid yellow;
    background-color: blue;
    padding: 30px;
    margin: 10px 0;
  }
  
  .red-fat-margin {
    border: 5px solid red;
    background-color: yellow;
    margin-bottom: 30px;
    padding: 10px;
  }
  
  .blue-center {
    border: 5px solid blue;
    background-color: yellow;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
  }
  
  .yellow-margin-all {
    border: 5px solid yellow;
    background-color: blue;
    margin: 40px;
    padding: 20px;
  }
  
  .rounded-top {
    border: 3px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px;
    margin: 10px 0;
  }

  /* =========================
   Rounded Corners & Dimensions
   Rubrics 22–30
========================= */

.rounded-bottom {
    border: 3px solid black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .rounded-all {
    border: 3px solid green;
    border-radius: 25px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .rounded-except-topright {
    border: 3px solid purple;
    border-radius: 25px;
    border-top-right-radius: 0;
    padding: 10px;
    margin: 10px 0;
  }
  
  .tall-rect {
    background-color: yellow;
    width: 100px;
    height: 200px;
    border: 2px solid black;
    margin: 10px 0;
  }
  
  .wide-rect {
    background-color: blue;
    width: 200px;
    height: 100px;
    border: 2px solid black;
    color: white;
    margin: 10px 0;
  }
  
  .square-rect {
    background-color: red;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    color: white;
    margin: 10px 0;
  }
  
  /* Relative positioning */
  .relative-yellow {
    background-color: yellow;
    position: relative;
    top: 10px;
    left: 20px;
    border: 2px solid black;
    width: 150px;
    padding: 5px;
  }
  
  .relative-blue {
    background-color: lightblue;
    position: relative;
    top: -20px;
    left: 20px;
    border: 2px solid black;
    width: 150px;
    padding: 5px;
  }
  
  /* Absolute positioning demo */
  .position-wrapper {
    position: relative;
    height: 250px;
    border: 1px solid gray;
    margin-top: 20px;
  }
  
  .portrait {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 160px;
    background-color: orange;
    text-align: center;
  }
  
  .landscape {
    position: absolute;
    top: 60px;
    left: 110px;
    width: 160px;
    height: 80px;
    background-color: lightblue;
    text-align: center;
    z-index: 2;
  }
  
  .square-abs {
    position: absolute;
    top: 120px;
    left: 60px;
    width: 100px;
    height: 100px;
    background-color: pink;
    text-align: center;
  }
  

  /* =========================
   Fixed, Z-index, Float, Grid, Flex
   Rubrics 31–37
========================= */

/* Fixed position box */
.fixed-blue {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: lightblue;
    color: black;
    border: 2px solid blue;
    padding: 10px;
    z-index: 5;
  }
  
  /* Z-index positioning */
  .z-container {
    position: relative;
    height: 250px;
    margin-top: 100px;
  }
  
  .z-portrait {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 160px;
    background-color: orange;
    z-index: 1;
  }
  
  .z-landscape {
    position: absolute;
    top: 60px;
    left: 80px;
    width: 160px;
    height: 80px;
    background-color: blue;
    color: white;
    z-index: 3;
  }
  
  .z-square {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: pink;
    z-index: 2;
  }
  
  /* Floating */
  .float-box {
    width: 100px;
    height: 100px;
    float: left;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    color: white;
    font-weight: bold;
  }
  .yellow { background: gold; }
  .blue { background: blue; }
  .red { background: red; }
  
  .float-right {
    float: right;
    margin: 10px;
    border: 2px solid #000;
  }
  
  /* Grid layout */
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
  }
  .grid-layout div {
    background-color: lightgray;
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
  }
  
  /* Flexbox layout */
  .flex-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e0e0e0;
    padding: 10px;
    margin-top: 20px;
  }
  .flex-row div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid #999;
  }
  
  /* React icons */
  .icon-demo {
    display: flex;
    gap: 15px;
    font-size: 24px;
    margin-top: 10px;
  }
  
  